/* Em App.css */

@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metrophobic', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
}

.primeiraParte {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
}

.fundoVerde,
.plantinha {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.fundoVerde {
  z-index: 1;
}

.plantinha {
  z-index: 2;
}

.farmwise {
  width: 50%;
  background-size: cover;
  position: absolute;
  z-index: 3;
}



.inputsLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  align-items: center;
}

.login {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: green;
  color: white;
  width: 100%;
}

.login a {
  color: green;
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1px;
}

.login h1 {
  color: green;
  font-size: 2rem;
}

.login p {
  color: green;
  font-size: 1rem;
}

.login input {
  border: 1px solid green;
  background-color: transparent;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.error-message {
  border: 2px solid green;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  /* Ajustes para telas menores que 768px (tablets e celulares) */
  .primeiraParte {
    display: none;
  }

  .login {
    width: 90vw; /* Ocupa 100% da largura da tela com 5px de padding em cada lado */
    margin: 0 auto; /* Centraliza o elemento */
    padding: 0 5px; /* Adiciona padding lateral de 5px */
  }

  .farmwise {
    width: 70%;
  }

  .inputsLogin {
    width: 90vw; /* Ocupa 100% da largura do contêiner pai */
  }
}